# Dependencies
node_modules

# Framework
.next

# TypeScript
next-env.d.ts

# Development container
.devcontainer

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Environment
.env

# Visual Studio Code
.vscode
